<template name="home">
  
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
      <div class="row">
        <div class="col-lg-12">
          <h2>Inicio</h2>
        </div>
      </div>
    </div>
      <div class="panel-body">
           {{#if checkGUIAccess template="home" guiElement="homeBooksMeter"}}
        <div class="col-lg-4 dashboardEntity text-center booksMeter">
          <h3>Libros</h3>
          <div class="map">
            <svg id="booksGraph" class="kpiSvg" width="200" height="200">
            </svg>
          </div>
          <br>
          <a href="/booksList"><i class="fa fa-list"></i> Ver detalles</a><br>
          <a href="/bookInsert"><i class="fa fa-plus"></i> Agregar libro</a>
        </div>
      {{/if}}
        
        {{#if checkGUIAccess template="home" guiElement="homeAuthorsMeter"}}
        <div class="col-lg-4 dashboardEntity text-center">
          <h3>Autores</h3>
          <div class="map">
            <svg id="authorsGraph" class="kpiSvg" width="200" height="200">
<!--               <circle class="callout" cx=-100 cy=-100></circle>
              <g class="arc"></g>
              <g class="path"></g> -->
            </svg>
          </div>
          <br>
          <a href="/authorsList"><i class="fa fa-list"></i> Ver detalles</a><br>
          <a href="/authorInsert"><i class="fa fa-plus"></i> Agregar autor</a>
        </div> 
        {{/if}}

        {{#if checkGUIAccess template="home" guiElement="homeStoresMeter"}}
         <div class="col-lg-4 dashboardEntity text-center">
          <h3>Tiendas</h3>
          <div class="map">
            <svg id="storesGraph" class="kpiSvg" width="200" height="200">
<!--               <circle class="callout" cx=-100 cy=-100></circle>
              <g class="arc"></g>
              <g class="path"></g> -->
            </svg>
          </div>
          <br>
          <a href="/storesList"><i class="fa fa-list"></i> Ver detalles</a><br>
          <a href="/storeInsert"><i class="fa fa-plus"></i> Agregar tienda</a>
        </div>  
        {{/if}}
        
        {{#if checkGUIAccess template="home" guiElement="homeFichaIndicadoresMeter"}}
         <div class="col-lg-4 dashboardEntity text-center">
          <h3>Fichas de Indicadores</h3>
          <div class="map">
            <svg id="fichaIndicadoresGraph" class="kpiSvg" width="200" height="200">
<!--               <circle class="callout" cx=-100 cy=-100></circle>
              <g class="arc"></g>
              <g class="path"></g> -->
            </svg>
          </div>
          <br>
          <a href="/fichaIndicadoresList"><i class="fa fa-list"></i> Ver detalles</a><br>
          <a href="/fichaIndicadorInsert"><i class="fa fa-plus"></i> Agregar Ficha de Indicador</a>
        </div>  
        {{/if}}
        
        {{#if checkGUIAccess template="home" guiElement="homeProcesosMeter"}}
         <div class="col-lg-4 dashboardEntity text-center">
          <h3>Procesos</h3>
          <div class="map">
            <svg id="procesosGraph" class="kpiSvg" width="200" height="200">
<!--               <circle class="callout" cx=-100 cy=-100></circle>
              <g class="arc"></g>
              <g class="path"></g> -->
            </svg>
          </div>
          <br>
          <a href="/procesosList"><i class="fa fa-list"></i> Ver detalles</a><br>
          <a href="/procesoInsert"><i class="fa fa-plus"></i> Agregar Proceso</a>
        </div>  
        {{/if}}
        
        {{#if checkGUIAccess template="home" guiElement="homeFuentesMeter"}}
         <div class="col-lg-4 dashboardEntity text-center">
          <h3>Fuentes</h3>
          <div class="map">
            <svg id="fuentesGraph" class="kpiSvg" width="200" height="200">
<!--               <circle class="callout" cx=-100 cy=-100></circle>
              <g class="arc"></g>
              <g class="path"></g> -->
            </svg>
          </div>
          <br>
          <a href="/fuentesList"><i class="fa fa-list"></i> Ver detalles</a><br>
          <a href="/fuenteInsert"><i class="fa fa-plus"></i> Agregar Fuente</a>
        </div>  
        {{/if}}
        
         {{#if checkGUIAccess template="home" guiElement="homeUnidadesMedicionMeter"}}
         <div class="col-lg-4 dashboardEntity text-center">
          <h3>Unidades de Medición</h3>
          <div class="map">
            <svg id="unidadesMedicionGraph" class="kpiSvg" width="200" height="200">
<!--               <circle class="callout" cx=-100 cy=-100></circle>
              <g class="arc"></g>
              <g class="path"></g> -->
            </svg>
          </div>
          <br>
          <a href="/unidadesMedicionList"><i class="fa fa-list"></i> Ver detalles</a><br>
          <a href="/unidadMedicionInsert"><i class="fa fa-plus"></i> Agregar Unidad de Medición</a>
        </div>  
        {{/if}}
        
        {{#if checkGUIAccess template="home" guiElement="homeAtributosNormativosMeter"}}
         <div class="col-lg-4 dashboardEntity text-center">
          <h3>Atributos Normativos</h3>
          <div class="map">
            <svg id="atributosNormativosGraph" class="kpiSvg" width="200" height="200">
<!--               <circle class="callout" cx=-100 cy=-100></circle>
              <g class="arc"></g>
              <g class="path"></g> -->
            </svg>
          </div>
          <br>
          <a href="/atributosNormativosList"><i class="fa fa-list"></i> Ver detalles</a><br>
          <a href="/atributoNormativoInsert"><i class="fa fa-plus"></i> Agregar Atributo Normativo</a>
        </div>  
        {{/if}}
        
         {{#if checkGUIAccess template="home" guiElement="homeNormasMeter"}}
         <div class="col-lg-4 dashboardEntity text-center">
          <h3>Normas</h3>
          <div class="map">
            <svg id="normasGraph" class="kpiSvg" width="200" height="200">
<!--               <circle class="callout" cx=-100 cy=-100></circle>
              <g class="arc"></g>
              <g class="path"></g> -->
            </svg>
          </div>
          <br>
          <a href="/normasList"><i class="fa fa-list"></i> Ver detalles</a><br>
          <a href="/normaInsert"><i class="fa fa-plus"></i> Agregar Norma</a>
        </div>  
        {{/if}}
        
        {{#if checkGUIAccess template="home" guiElement="homeEntidadesReguladorasMeter"}}
         <div class="col-lg-4 dashboardEntity text-center">
          <h3>Entidades Reguladoras</h3>
          <div class="map">
            <svg id="entidadesReguladorasGraph" class="kpiSvg" width="200" height="200">
<!--               <circle class="callout" cx=-100 cy=-100></circle>
              <g class="arc"></g>
              <g class="path"></g> -->
            </svg>
          </div>
          <br>
          <a href="/entidadesReguladorasList"><i class="fa fa-list"></i> Ver detalles</a><br>
          <a href="/entidadReguladoraInsert"><i class="fa fa-plus"></i> Agregar Entidad Reguladora</a>
        </div>  
        {{/if}}
        
      </div>
    </div>
  </div>
</template>