<template name="homeNoAdmin">
  
  <div class="col-lg-4 dashboardEntity text-center">
      <h3>Indicadores (borradores)</h3>
      <div class="map">
        {{> donutGraph collCursor=borradoresCursor svgName="borradoresSVG" 
            groupBy="proceso.nombre"}}
      </div>
      <br>
      <a id="fichasBorrador" href="#"><i class="fa fa-list"></i> Ver detalles</a><br>
      <a id="agregarBorrador" href="#"><i class="fa fa-plus"></i> Agregar Borrador</a>
   </div> 
  
   <div class="col-lg-4 dashboardEntity text-center">
      <h3>Indicadores (activos)</h3>
      <div class="map">
        {{> donutGraph collCursor=getFichasActivasCollection svgName="fichasActivasSVG" 
            groupBy="proceso.nombre"}}
      </div>
      <br>
      <a id="fichasActivas" href="#"><i class="fa fa-list"></i> Ver detalles</a><br>
   </div> 
  
  <div class="col-lg-4 dashboardEntity text-center">
      <h3>Indicadores (inactivos)</h3>
      <div class="map">
        {{> donutGraph collCursor=getFichasInactivasCollection svgName="fichasInactivasSVG" 
            groupBy="proceso.nombre"}}
      </div>
      <br>
      <a id="fichasInactivas" href="#"><i class="fa fa-list"></i> Ver detalles</a><br>
   </div> 
  
</template>