/*colors: 
DARK BLUE: #2c3e50
RED: #d62c1a
WARNING: #c87f0a
INFO: #217dbb
SUCCESS: #128f76;
PRIMARY: #1a242f
NORMAL GREY: #798d8f
*/

body{
  padding-top: 70px
}

.vertical-container .row {
    display: table;
    width: 100%;
}
.vertical-container .row > .col-lg-1 {
    display: table-cell;
    vertical-align: middle;
}

.dashboardEntity{
  /*border-right: 2px solid #ecf0f1;*/
}

h3.kpiH3{
  padding: 15px;
  background-color: #95a5a6;
  border-top: 5px solid #74898a;
  border-bottom: 5px solid #74898a;
  color: #2c3e50;
}

/* NOTE USE SVG ATTRIBURES FOR SVG ELEMENTS, NOT THE COMMON CSS */
.axis path,
.axis line {
fill: none;
stroke: black;
shape-rendering: crispEdges;
}

.axis text {
font-family: sans-serif;
fill: #505050;
}


.lineLY {
  fill: none;
  stroke: #95a5a6;
  stroke-width: 4px;
}

.lineG {
  fill: none;
  stroke: #e74c3c;
  stroke-width: 4px;
}

.graficaBarrasSvg{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
