/*colors: 
DARK BLUE: #2c3e50
RED: #d62c1a
WARNING: #c87f0a
INFO: #217dbb
SUCCESS: #128f76;
PRIMARY: #1a242f
NORMAL GREY: #798d8f
*/

body{
  padding-top: 70px
}

.vertical-container .row {
    display: table;
    width: 100%;
}
.vertical-container .row > .col-lg-1 {
    display: table-cell;
    vertical-align: middle;
}

.dashboardEntity{
  /*border-right: 2px solid #ecf0f1;*/
}