<template name="fichaIndicadorInsert">
  
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <table class="table" style="margin-bottom:0px">
      <thead>
        <tr>
          <th><h2 style="margin-top:0px; margin-bottom:0px; width:60%">Agregar una Ficha de Indicador</h2></th>
          <th style="vertical-align:middle; text-align:right; width:40%"><a href="/fichaIndicadoresList"><button type="button" id="returnButton" class="btn btn-success btn-xs">Regresar</button></a>
          </th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="well bs-component">
<!--            {{> quickForm collection="FichaIndicadores" schema="Schemas.FichaIndicador" id="insertFichaIndicadorForm" type="insert" validation="keyup" buttonContent="Guardar"}} -->
            {{#autoForm collection="FichaIndicadores" id="insertFichaIndicadorForm" type="insert" doc=tempInsertFichaIndicador validation="keyup" }}
              
                
                  {{> afQuickField name='nombre'  }}
                  
                  {{> afQuickField name='objetivo' rows=6  }}
        {{> afQuickField name='procesoId' options=procesoOptions firstOption="Seleccionar un proceso"}}
                  <a href="/procesoInsert" id="addProcesoFichaIndicador" class="btn btn-link" style="padding:0px 0px 10px 0px">Agregar Proceso</a>
        {{> afQuickField name='fuenteId' options=fuenteOptions firstOption="Seleccionar una fuente"}}
                  <a href="/fuenteInsert" id="addFuenteFichaIndicador" class="btn btn-link" style="padding:0px 0px 10px 0px">Agregar Fuente</a>
        {{> afQuickField name='unidadMedicionId' options=unidadMedicionOptions firstOption="Seleccionar una unidad de medición"}}
                  <a href="/unidadMedicionInsert" id="addUnidadMedicionFichaIndicador" class="btn btn-link" style="padding:0px 0px 10px 0px">Agregar Unidad de Medición</a>
        {{> afQuickField name='tendencia' options="allowed" firstOption="Seleccionar una tendencia"}}
         {{> afQuickField name='alcance' options="allowed" firstOption="Seleccionar un alcance"}}
         {{> afQuickField name='frecuenciaMedicion' options="allowed" firstOption="Seleccionar una frecuencia de medicion"}}
        {{> afQuickField name='segmentosMediciones' }}
         {{> afQuickField name='observaciones' }}
                <br>
        {{> asignacionesAtributoNormativoIndicadorInsert}}<br>
        {{> asignacionesUsuarioIndicadorInsert}}<br><br>
        
                <button type="submit" class="btn btn-primary">Guardar</button><br><br>
                <button type="button" id="cancelButton" class="btn btn-warning">Cancelar</button>       
            {{/autoForm}}  
      </div>
    </div>
  </div>
</template>



<template name="asignacionesAtributoNormativoIndicadorInsert">
  <label class="control-label" for="unidadMedicionId">Atributos Normativos</label>
  <br>
  {{#each getAtributosNormativos}}
   <i style="color: #e74c3c" id={{numIt}} class="fa fa-times-circle-o fa-1.5x removeAtributoNormativo"></i> 
  {{nombreAt}} <br>
  {{/each}}
  <i style="color: #18bc9c" class="fa fa-plus-circle fa-1.5x"></i> {{> inputAutocomplete settings=settings id="addAtributoNormativo" class="input-xlarge" placeholder="Agregar atributo normativo..."}}<br>
</template>

<template name="asignacionesUsuarioIndicadorInsert">
  <label class="control-label" for="unidadMedicionId">Usuarios y Roles</label>
  <br>
  {{#each getUsuarios}}
    <i style="color: #e74c3c" id={{numIt}} class="fa fa-times-circle-o fa-1.5x removeUsuario"></i> 
  {{nombreUsuario}} ({{rol}})<br>
  {{/each}}
  <i style="color: #18bc9c" class="fa fa-plus-circle fa-1.5x"></i> {{> inputAutocomplete settings=settings id="addUsuario" class="input-xlarge" placeholder="agregar usuario..."}}   <i style="color: #18bc9c" class="fa fa-plus-circle fa-1.5x"></i> Rol
  <select id="addRol" class="input-xlarge" name="rol">
    <option value="default" disabled selected> agregar un rol... </option>
  {{#each getRoles}}
    <option value="{{nombre}}">{{nombre}}</option>
  {{/each}}
</select>
</template>