<template name="loading">
  <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-12">
            <h3 align="center">... cargando datos ...</h3>
          </div>
        </div>
    
    <div class="row">
          <div class="col-lg-offset-5 col-lg-2" style="text-align:center">
       
  <p style="align-text:center"><i class="fa fa-spinner fa-spin fa-4x"></i></p>
              
    
          </div>
        </div>
    
<!--           <div class="col-lg-12">
            <i class="fa-li fa fa-spinner fa-spin fa-5x"></i>
          </div>        
          <div class="col-lg-12">
            {{> spinner}}
          </div> -->
<!--         </div> -->
      </div>
</template>