<template name="booksList">
  
  <div class="row">
    <div class="col-lg-12">
      <h1 id="buttons">Lista de libros</h1>
    </div>
  </div>
  
  <div class="col-lg-4 col-lg-offset-8">
  <div class="panel panel-default">
    <div class="panel-heading">Columnas a filtrar</div>
      <div class="panel-body">
        <a href="#" id="titleCol" name="title" class="{{buttonClass 'title'}} colSelect">Título</a>
        <a href="#" id="authorCol" name="author" class="{{buttonClass 'author'}} colSelect">Autor</a>
        <a href="#" id="mediaTypeCol" name="mediaType" class="{{buttonClass 'mediaType'}} colSelect">Tipo de medio</a> 
      </div>
  </div>
  </div>
  
  {{#if showWarningDeletedBook}}
  <div class="row">
    <div class="col-lg-12">

      <div class="bs-component">
              <div class="alert alert-dismissable alert-warning">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <h4>¡Atención! Usted eliminó un registro. Si fue un error <a href="#" id="undoDeletedBook" class="alert-link">deshacer última eliminación</a>.</h4>
              </div>
            </div>
    </div>
  </div>
  {{/if}}
  
  <div class="row">
    {{> reactiveTable collection=booksTable settings=tableSettings}}
  </div>
  
</template>