<template name="bookInsert">
  
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2 id="buttons">Agregar un libro</h2>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="well bs-component">
<!--            {{> quickForm collection="Books" schema="Schemas.Book" id="insertBookForm" type="insert" validation="keyup" buttonContent="Guardar"}} -->
            {{#autoForm collection="Books" id="insertBookForm" type="insert" doc=tempInsertBook validation="keyup" }}
              
                
                  {{> afQuickField name='title'  }}
                  {{> afQuickField name='authorID' options=authorOptions firstOption="Seleccionar un autor"}}
                  <a href="#" id="addAuthorBook" class="btn btn-link" style="padding:0px 0px 10px 0px">Agregar autor</a>
                  {{> afQuickField name='summary' rows=6  }}
                
                
                  {{> afQuickField name='copies'  }}
                  {{> afQuickField name='lastCheckedOut'  }}
                  {{> afQuickField name='mediaType' options="allowed" noselect="true"  }}
                  {{> afQuickField name='classification' options="allowed"  }} 
                
                <button type="submit" class="btn btn-primary">Guardar</button>
               
               
             
            {{/autoForm}}  
      </div>
    </div>
  </div>
</template>